<h1 class="mt-5">Create account or login</h1>
<h2><a href="/shorturls/users/register">Register</a></h2>
<h2><a href="/shorturls/users/login">Login</a></h2>
<h2><a href="/shorturls/dashboard">Dashboard</a></h2>